{% extends "layout.html" %}


{% block content %}

  <div class="jumbotron">
    <h5 class="display-4"> Help Me</h5>
    <p class="lead"> Ayudame </p>
    <hr class="my-4">
    <p>En esta pagina encontraras respuestas a tus dudas, puedes escribirme por los 
      diferentes canales de comunicacion.
     </p> 
  </div>
  <div class="main-1">
    <div class="main__container1">
      <div class="main__img--container1">
       <img src="/static/imgs/help.svg" alt="pic" id="main__img">
      </div>
    </div>
  
  <footer class="footer pb-3" id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center mt-3">
          <h5 class="fadeIn">Contacto</h5>
        </div>
      </div>
      <div class="row social-row mt-2 mb-2">
        <div class="col mb-3 text-center">
          <a href="https://github.com/joanhoys0719">
            <img src="/static/imgs/contact/github.png" width="35" alt="">
          </a>
        </div>
  
        
  
        <div class="col mb-3 text-center">
          <a href="https://www.facebook.com/joan.hoyos.710">
            <img src="/static/imgs/contact/facebook.svg" width="35" alt="">
          </a>
        </div>
        <div class="col mb-3 text-center">
          <a href="https://www.instagram.com/0719sebas/">
            <img src="/static/imgs/contact/instagram.svg" width="35" alt="">
          </a>
        </div>
        
        <div class="col mb-3 text-center">
          <a href="https://www.twitch.tv/defaultg0719">
            <img src="/static/imgs/contact/thitch.png" width="35" alt="">
          </a>
        </div>
      </div>

     
      <div class="col mb-3 text-center">
        <a href="https://www.youtube.com/channel/UCu3TqQOcVqEQoUc_JNUW02A?view_as=subscriber">
          <img src="/static/imgs/contact/youtube1.svg" width="35" alt="">
        </a>
      </div>

      <span>Design by <a href="https://github.com/joanhoys0719"> Default G</a></span>
    </div>
  </footer>
  </div>





{% endblock %}