{% extends "layout.html" %}

{% block content %}


<div class="main">
  <div class="main__container">
    <div class="main__content">
      <h4>Know Me </h4>
      <p>Let's work together and cooperate to achieve the goal of being better.</p>
    </div>
    <div class="main__img--container">
     <img src="/static/imgs/nomada1.svg" alt="pic" id="main__img">
    </div>
    <div class="main__content">
      <h4>Conoceme</h4>
      <p>Trabajemos juntos y cooperemos para lograr la meta de ser mejores.</p>
    </div>
  </div>






 


 <div class="jumbotron">
   <h5 class="display-4">Hi!</h5>
   <p class="lead"> Conoce mi nueva sito web creado con python , html5, css y javascript</p>
   <hr class="my-4">
   <p>Recuerda visitar esta pagina mas seguido, ya que pronto habra mas cosas interesantes.</p>
   <a class="btn btn-primary btn-dark" href="/about" role="button">Portafolio</a>
 </div>













 <!-- footer -->

 <footer class="footer pb-3" id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mt-3">
        <h5 class="fadeIn">Contacto</h5>
      </div>
    </div>
    <div class="row social-row mt-2 mb-2">
      <div class="col mb-3 text-center">
        <a href="https://github.com/joanhoys0719">
          <img src="/static/imgs/contact/github.png" width="35" alt="">
        </a>
      </div>

      

      <div class="col mb-3 text-center">
        <a href="https://www.facebook.com/joan.hoyos.710">
          <img src="/static/imgs/contact/facebook.svg" width="35" alt="">
        </a>
      </div>
      <div class="col mb-3 text-center">
        <a href="https://www.instagram.com/0719sebas/">
          <img src="/static/imgs/contact/instagram.svg" width="35" alt="">
        </a>
      </div>
      
      <div class="col mb-3 text-center">
        <a href="https://www.twitch.tv/defaultg0719">
          <img src="/static/imgs/contact/thitch.png" width="35" alt="">
        </a>
      </div>

      <div class="col mb-3 text-center">
        <a href="https://www.youtube.com/channel/UCu3TqQOcVqEQoUc_JNUW02A?view_as=subscriber">
          <img src="/static/imgs/contact/youtube1.svg" width="35" alt="">
        </a>
      </div>

    </div>
    <span>Design by <a href="https://github.com/joanhoys0719"> Default G</a></span>
  </div>
</footer>
</div>







{% endblock %}